In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import os
from pathlib import Path

In [2]:
cwd = Path.cwd()

In [3]:
data = pd.read_csv("../data/formatted_activity.csv")
df =data

In [4]:
# we want to know how much was spent in total
def calculate_total_amount(df, amount): 
    total_amount = df['Amount'].sum()
    return total_amount

total_amount = calculate_total_amount(df, 'Amount')

# Print the total amount
print("Total amount:", total_amount)

Total amount: 2508.47

In [5]:
# lets split each card member's total
condition = df['Card Member'] == "ST"
st = df[condition]

cond = df['Card Member'] == "CT"
ct = df[cond]

dfst = pd.DataFrame(st)
sfct = pd.DataFrame(ct)

In [6]:
# now we want to know how much each cardmember spent
total_spent_st =st['Amount'].sum()
print("ST spent a total of: ", total_spent_st)

total_spent_ct = ct["Amount"].sum()
print("CT spent a total of: ", total_spent_ct)

ST spent a total of:  1008.7900000000001
CT spent a total of:  1499.6799999999998

In [7]:
top_spent = df.sort_values(by='Amount', ascending=False)
top_5 = top_spent.head(5)
print("The top 5 expensive purchases were: ")
top_5

The top 5 expensive purchases were:

,Date,Description,Card Member,Amount,Category
83,03/23/2023,TMOBILE*AUTO PAY 800-937-8997,CT,203.52,Communications-Mobile Telecom
11,04/10/2023,EBAY O*09-09925-2585SAN JOSE,CT,120.44,Merchandise & Supplies-Internet Purchase
66,03/27/2023,AplPay TRADER JOE,ST,114.64,Merchandise & Supplies-Groceries
78,03/24/2023,UBER,CT,92.94,Transportation-Taxis & Coach
95,03/17/2023,"SP DRINK LMNT,",ST,90.00,Merchandise & Supplies-Groceries

In [8]:
grouped_df = df.groupby('Category')

for group_name, group_df in grouped_df: 
    print(f"Group: {group_name}")
    print(group_df)
    print()

Group: Business Services-Office Supplies
         Date         Description Card Member  Amount  \
5  04/11/2023  KRYSTAL AND SAAGAR          ST    10.0

                            Category
5  Business Services-Office Supplies

Group: Communications-Cable & Internet Comm
          Date                    Description Card Member  Amount  \
24  04/09/2023                PEACOCK TV, LLC          CT    0.00
25  04/09/2023                PEACOCK TV, LLC          CT    0.00
29  04/08/2023   PEACOCK*E9BAD PREMIUNEW YORK          ST    4.99
30  04/08/2023   PEACOCK*X1750 PREMPLNEW YORK          ST    5.00
88  03/19/2023  DISCOVERY DIGITAL VEKNOXVILLE          ST    6.99

                                Category
24  Communications-Cable & Internet Comm
25  Communications-Cable & Internet Comm
29  Communications-Cable & Internet Comm
30  Communications-Cable & Internet Comm
88  Communications-Cable & Internet Comm

Group: Communications-Mobile Telecom
          Date                    Description Card Member  Amount  \
83  03/23/2023  TMOBILE*AUTO PAY 800-937-8997          CT  203.52

                         Category
83  Communications-Mobile Telecom

Group: Communications-Other Telecom
          Date                     Description Card Member  Amount  \
81  03/23/2023  PAYPAL *ALIPAYUSINC 8626888888          CT    41.6

                        Category
81  Communications-Other Telecom

Group: Entertainment-Theatrical Events
          Date                   Description Card Member  Amount  \
51  04/01/2023  PAYPAL *PATREON MEM000000000          ST     5.0

                           Category
51  Entertainment-Theatrical Events

Group: Merchandise & Supplies-General Retail
          Date                     Description Card Member  Amount  \
36  04/06/2023  PAYPAL *NESPRESSOUS 8005621465          ST    64.5
82  03/23/2023  PAYPAL *NESPRESSOUS 8005621465          ST    53.0

                                 Category
36  Merchandise & Supplies-General Retail
82  Merchandise & Supplies-General Retail

Group: Merchandise & Supplies-Groceries
          Date           Description Card Member  Amount  \
0   04/14/2023     SANTA MONICA BREW          ST   26.02
4   04/12/2023    MARUKAI MARKET LOS          CT    7.32
6   04/11/2023    MARUKAI MARKET LOS          CT    6.93
8   04/11/2023          TRADER JOE S          CT   12.96
32  04/07/2023    MARUKAI MARKET LOS          CT    8.43
35  04/06/2023    MARUKAI MARKET LOS          CT    9.26
39  04/05/2023    MARUKAI MARKET LOS          CT    8.93
41  04/04/2023    MARUKAI MARKET LOS          CT    4.63
44  04/03/2023    MARUKAI MARKET LOS          CT    6.93
45  04/03/2023  SABZEE MARKET ENCINO          ST   13.63
46  04/03/2023          TRADER JOE S          ST   61.13
49  04/02/2023       VALLARTA DFE 09          CT   32.34
50  04/02/2023       VONS #3083 3083          ST   42.02
57  03/31/2023          TRADER JOE S          CT    6.18
60  03/30/2023    MARUKAI MARKET LOS          CT    9.07
61  03/29/2023    RALPHS LOS ANGELES          CT   23.58
64  03/28/2023    MARUKAI MARKET LOS          CT    8.87
66  03/27/2023     AplPay TRADER JOE          ST  114.64
68  03/27/2023    MARUKAI MARKET LOS          CT    9.26
94  03/17/2023    MARUKAI MARKET LOS          CT    7.02
95  03/17/2023        SP DRINK LMNT,          ST   90.00
97  03/17/2023          TRADER JOE S          CT    9.76

                            Category
0   Merchandise & Supplies-Groceries
4   Merchandise & Supplies-Groceries
6   Merchandise & Supplies-Groceries
8   Merchandise & Supplies-Groceries
32  Merchandise & Supplies-Groceries
35  Merchandise & Supplies-Groceries
39  Merchandise & Supplies-Groceries
41  Merchandise & Supplies-Groceries
44  Merchandise & Supplies-Groceries
45  Merchandise & Supplies-Groceries
46  Merchandise & Supplies-Groceries
49  Merchandise & Supplies-Groceries
50  Merchandise & Supplies-Groceries
57  Merchandise & Supplies-Groceries
60  Merchandise & Supplies-Groceries
61  Merchandise & Supplies-Groceries
64  Merchandise & Supplies-Groceries
66  Merchandise & Supplies-Groceries
68  Merchandise & Supplies-Groceries
94  Merchandise & Supplies-Groceries
95  Merchandise & Supplies-Groceries
97  Merchandise & Supplies-Groceries

Group: Merchandise & Supplies-Hardware Supplies
          Date                   Description Card Member  Amount  \
13  04/10/2023  HARBOR FREIGHT TOOLSWOODLAND          CT   36.11
43  04/03/2023  ALTADENA HARDWARE 00ALTADENA          CT   85.34
72  03/25/2023                THE HOME DEPOT          CT   20.28

                                    Category
13  Merchandise & Supplies-Hardware Supplies
43  Merchandise & Supplies-Hardware Supplies
72  Merchandise & Supplies-Hardware Supplies

Group: Merchandise & Supplies-Internet Purchase
          Date                        Description Card Member  Amount  \
7   04/11/2023         TARGET.COM 800-591-3869 MN          ST   89.55
9   04/10/2023               AMAZON MARKEPLACE NA          ST   10.94
11  04/10/2023       EBAY O*09-09925-2585SAN JOSE          CT  120.44
12  04/10/2023        EBAY O*14-09923-0528TORONTO          CT   88.18
26  04/08/2023               AMAZON MARKEPLACE NA          ST   12.44
27  04/08/2023        AMAZON.COM AMZN.COM/BILL WA          ST   34.45
48  04/02/2023        AMAZON.COM AMZN.COM/BILL WA          ST    8.75
52  03/31/2023  AMAZON MARKETPLACE NAMZN.COM/BILL          ST    0.00
53  03/31/2023  AMAZON MARKETPLACE NAMZN.COM/BILL          ST    0.00
56  03/31/2023         TARGET.COM 800-591-3869 MN          ST   17.24
59  03/30/2023               AMAZON MARKEPLACE NA          ST   15.14
62  03/28/2023               AMAZON MARKEPLACE NA          ST   42.68
67  03/27/2023       EBAY O*17-09869-2187SAN JOSE          CT    9.14
70  03/26/2023       EBAY O*15-09866-1372SAN JOSE          CT   15.32
79  03/23/2023       EBAY O*24-09863-6600SAN JOSE          CT   43.80
86  03/22/2023       EBAY O*16-09766-4718SAN JOSE          CT    0.00
87  03/20/2023         TARGET.COM 800-591-3869 MN          ST    8.59
92  03/17/2023               AMAZON MARKEPLACE NA          ST   54.75

                                    Category
7   Merchandise & Supplies-Internet Purchase
9   Merchandise & Supplies-Internet Purchase
11  Merchandise & Supplies-Internet Purchase
12  Merchandise & Supplies-Internet Purchase
26  Merchandise & Supplies-Internet Purchase
27  Merchandise & Supplies-Internet Purchase
48  Merchandise & Supplies-Internet Purchase
52  Merchandise & Supplies-Internet Purchase
53  Merchandise & Supplies-Internet Purchase
56  Merchandise & Supplies-Internet Purchase
59  Merchandise & Supplies-Internet Purchase
62  Merchandise & Supplies-Internet Purchase
67  Merchandise & Supplies-Internet Purchase
70  Merchandise & Supplies-Internet Purchase
79  Merchandise & Supplies-Internet Purchase
86  Merchandise & Supplies-Internet Purchase
87  Merchandise & Supplies-Internet Purchase
92  Merchandise & Supplies-Internet Purchase

Group: Merchandise & Supplies-Wholesale Stores
          Date             Description Card Member  Amount  \
10  04/10/2023    AplPay TARGET ENCINO          ST   35.27
31  04/08/2023  TARGET NORTH HOLLYWOOD          CT   20.79

                                   Category
10  Merchandise & Supplies-Wholesale Stores
31  Merchandise & Supplies-Wholesale Stores

Group: Other-Government Services
          Date      Description Card Member  Amount                   Category
14  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services
15  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services
16  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services
17  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services
18  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services
19  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services
20  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services
21  04/10/2023  LA CITY PARKING          CT     1.0  Other-Government Services

Group: Other-Miscellaneous
          Date          Description Card Member  Amount             Category
38  04/05/2023      AplPay USC HOSP          ST    3.27  Other-Miscellaneous
69  03/26/2023  CASTAWAY Burbank CA          ST    9.00  Other-Miscellaneous

Group: Restaurant-Bar & Café
          Date                    Description Card Member  Amount  \
1   04/13/2023  AplPay STARBUCKS 800-782-7282          ST   10.00
3   04/13/2023        MCDONALD'S SANTA MONICA          CT    8.26
54  03/31/2023      CHICK-FIL-A #03953 0SANTA          CT   10.13
75  03/24/2023            KAGURA GARDENA 0000          CT   14.88
80  03/23/2023        MCDONALD'S SANTA MONICA          CT    4.40
85  03/22/2023     CHICK-FIL-A #04003 0ORANGE          CT    9.46
89  03/18/2023                CARL'S JR SANTA          CT    5.29
93  03/17/2023                       IN N OUT          ST   13.96

                 Category
1   Restaurant-Bar & Café
3   Restaurant-Bar & Café
54  Restaurant-Bar & Café
75  Restaurant-Bar & Café
80  Restaurant-Bar & Café
85  Restaurant-Bar & Café
89  Restaurant-Bar & Café
93  Restaurant-Bar & Café

Group: Restaurant-Restaurant
          Date              Description Card Member  Amount  \
2   04/13/2023         AplPay TST* EMMY          ST   20.82
71  03/26/2023     THE CASTAWAY BURBANK          ST   51.53
73  03/25/2023  UBER EATS help.uber.com          CT   23.73
96  03/17/2023  THE ATMOSPHERE GLENDALE          ST   38.49

                 Category
2   Restaurant-Restaurant
71  Restaurant-Restaurant
73  Restaurant-Restaurant
96  Restaurant-Restaurant

Group: Transportation-Auto Services
          Date                     Description Card Member  Amount  \
23  04/09/2023  PAYPAL *ROCKAUTOLLC 6086611376          CT   16.03
33  04/07/2023             O'REILLY AUTO PARTS          CT   35.03

                        Category
23  Transportation-Auto Services
33  Transportation-Auto Services

Group: Transportation-Fuel
          Date                          Description Card Member  Amount  \
28  04/08/2023  CHEVRON 0202034/CHEVNORTH HOLLYWOOD          CT   66.57
34  04/07/2023                    UNION 76 10194413          CT   11.16
37  04/05/2023                         1691 W ADAMS          ST   15.00
40  04/04/2023                      11944 W OLYMPIC          CT   27.65
42  04/03/2023                      11944 W OLYMPIC          CT   20.18
47  04/03/2023                    UNION 76 10116713          ST   20.00
55  03/31/2023              EXXONMOBIL 9764 TARZANA          CT   10.47
58  03/31/2023                    UNION 76 10194413          CT   10.80
63  03/28/2023                     ARCO #42105 AMPM          CT   41.61
65  03/27/2023                      11944 W OLYMPIC          CT   23.21
76  03/24/2023                    UNION 76 10192342          CT   15.14
77  03/24/2023                    UNION 76 10194504          CT   16.91
90  03/18/2023                    UNION 76 10191351          CT   29.18
91  03/17/2023                      11944 W OLYMPIC          CT   10.00
98  03/17/2023                    UNION 76 10194413          CT   13.70

               Category
28  Transportation-Fuel
34  Transportation-Fuel
37  Transportation-Fuel
40  Transportation-Fuel
42  Transportation-Fuel
47  Transportation-Fuel
55  Transportation-Fuel
58  Transportation-Fuel
63  Transportation-Fuel
65  Transportation-Fuel
76  Transportation-Fuel
77  Transportation-Fuel
90  Transportation-Fuel
91  Transportation-Fuel
98  Transportation-Fuel

Group: Transportation-Taxis & Coach
          Date Description Card Member  Amount                      Category
78  03/24/2023        UBER          CT   92.94  Transportation-Taxis & Coach
84  03/23/2023        UBER          CT   61.96  Transportation-Taxis & Coach

Group: Transportation-Vehicle Leasing & Purchase
          Date   Description Card Member  Amount  \
74  03/24/2023  1268 LKQ PYP          CT    57.0

                                     Category
74  Transportation-Vehicle Leasing & Purchase