In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel("activity.xlsx")
data.head()

,Date,Description,Card Member,Account #,Amount,Extended Details,Appears On Your Statement As,Address,City/State,Zip Code,Country,Reference,Category
0,04/14/2023,SANTA MONICA BREW WOSanta Monica CA,SOFIA TUFF,-23018,26.02,VAvCI8xEtYu squareup.com/receipts\nSANTA MONIC...,SANTA MONICA BREW WOSanta Monica CA,1920 COLORADO AVEX000D\nSTE C,SANTA MONICA\nCA,90404-3414,UNITED STATES,320231040183707541,Merchandise & Supplies-Groceries
1,04/13/2023,AplPay STARBUCKS 800-782-7282 WA,SOFIA TUFF,-23018,10.00,1vFeCGpuDpd 8007827282\nAplPay STARBUCKS\n800-...,AplPay STARBUCKS 800-782-7282 WA,2401 UTAH AVE SOUTH STE 800,SEATTLE\nWA,98134,UNITED STATES,320231040170402861,Restaurant-Bar & Café
2,04/13/2023,AplPay TST* EMMY SQUSANTA MONICA CA,SOFIA TUFF,-23018,20.82,21105173104 310-447-3669\nAplPay TST* EMMY SQU...,AplPay TST* EMMY SQUSANTA MONICA CA,1920 COLORADO AVE\nSUITE A,SANTA MONICA\nCA,90404,UNITED STATES,320231040173058937,Restaurant-Restaurant
3,04/13/2023,MCDONALD'S SANTA MONICA CA,CHRISTOPHER TUFF,-21004,8.26,000172540 3104520147\nMCDONALD'S\nSANTA MONI...,MCDONALD'S SANTA MONICA CA,2902 PICO BLVD,SANTA MONICA\nCA,90405,UNITED STATES,320231040168142069,Restaurant-Bar & Café
4,04/12/2023,MARUKAI MARKET LOS ANGELES CA,CHRISTOPHER TUFF,-21004,7.32,000001254 GROCERY STORE\nMARUKAI MARKET\nLOS...,MARUKAI MARKET LOS ANGELES CA,12121 WEST PICO BLVD,LOS ANGELES\nCA,90064-1162,UNITED STATES,320231040173862157,Merchandise & Supplies-Groceries

In [27]:
df = pd.DataFrame(data)
df.columns

Index(['Date', 'Description', 'Card Member', 'Account #', 'Amount',
       'Extended Details', 'Appears On Your Statement As', 'Address',
       'City/State', 'Zip Code', 'Country', 'Reference', 'Category'],
      dtype='object')

In [28]:
columns_to_keep = ['Date', 'Description', 'Card Member', 'Amount','Category']
df = df[columns_to_keep]
df

,Date,Description,Card Member,Amount,Category
0,04/14/2023,SANTA MONICA BREW WOSanta Monica CA,SOFIA TUFF,26.02,Merchandise & Supplies-Groceries
1,04/13/2023,AplPay STARBUCKS 800-782-7282 WA,SOFIA TUFF,10.00,Restaurant-Bar & Café
2,04/13/2023,AplPay TST* EMMY SQUSANTA MONICA CA,SOFIA TUFF,20.82,Restaurant-Restaurant
3,04/13/2023,MCDONALD'S SANTA MONICA CA,CHRISTOPHER TUFF,8.26,Restaurant-Bar & Café
4,04/12/2023,MARUKAI MARKET LOS ANGELES CA,CHRISTOPHER TUFF,7.32,Merchandise & Supplies-Groceries
...,...,...,...,...,...
94,03/17/2023,MARUKAI MARKET LOS ANGELES CA,CHRISTOPHER TUFF,7.02,Merchandise & Supplies-Groceries
95,03/17/2023,"SP DRINK LMNT, INC. NAPLES FL",SOFIA TUFF,90.00,Merchandise & Supplies-Groceries
96,03/17/2023,THE ATMOSPHERE GLENDALE CA,SOFIA TUFF,38.49,Restaurant-Restaurant
97,03/17/2023,TRADER JOE S #006 00SANTA MONICA CA,CHRISTOPHER TUFF,9.76,Merchandise & Supplies-Groceries
98,03/17/2023,UNION 76 10194413 VAN NUYS CA,CHRISTOPHER TUFF,13.70,Transportation-Fuel

In [36]:
# Change names in initials
df['Card Member'] = df['Card Member'].str.split().apply(lambda x: ''.join([word[0] for word in x]))

,Date,Description,Card Member,Amount,Category
0,04/14/2023,SANTA MONICA BREW WOSanta Monica CA,ST,26.02,Merchandise & Supplies-Groceries
1,04/13/2023,AplPay STARBUCKS 800-782-7282 WA,ST,10.00,Restaurant-Bar & Café
2,04/13/2023,AplPay TST* EMMY SQUSANTA MONICA CA,ST,20.82,Restaurant-Restaurant
3,04/13/2023,MCDONALD'S SANTA MONICA CA,CT,8.26,Restaurant-Bar & Café
4,04/12/2023,MARUKAI MARKET LOS ANGELES CA,CT,7.32,Merchandise & Supplies-Groceries
...,...,...,...,...,...
94,03/17/2023,MARUKAI MARKET LOS ANGELES CA,CT,7.02,Merchandise & Supplies-Groceries
95,03/17/2023,"SP DRINK LMNT, INC. NAPLES FL",ST,90.00,Merchandise & Supplies-Groceries
96,03/17/2023,THE ATMOSPHERE GLENDALE CA,ST,38.49,Restaurant-Restaurant
97,03/17/2023,TRADER JOE S #006 00SANTA MONICA CA,CT,9.76,Merchandise & Supplies-Groceries
98,03/17/2023,UNION 76 10194413 VAN NUYS CA,CT,13.70,Transportation-Fuel

In [38]:
# description too long, shorten it to the first three words
df['Description'] = df['Description'].str.split().apply(lambda x: ' '.join(x[:3]))

,Date,Description,Card Member,Amount,Category
0,04/14/2023,SANTA MONICA BREW,ST,26.02,Merchandise & Supplies-Groceries
1,04/13/2023,AplPay STARBUCKS 800-782-7282,ST,10.00,Restaurant-Bar & Café
2,04/13/2023,AplPay TST* EMMY,ST,20.82,Restaurant-Restaurant
3,04/13/2023,MCDONALD'S SANTA MONICA,CT,8.26,Restaurant-Bar & Café
4,04/12/2023,MARUKAI MARKET LOS,CT,7.32,Merchandise & Supplies-Groceries
...,...,...,...,...,...
94,03/17/2023,MARUKAI MARKET LOS,CT,7.02,Merchandise & Supplies-Groceries
95,03/17/2023,"SP DRINK LMNT,",ST,90.00,Merchandise & Supplies-Groceries
96,03/17/2023,THE ATMOSPHERE GLENDALE,ST,38.49,Restaurant-Restaurant
97,03/17/2023,TRADER JOE S,CT,9.76,Merchandise & Supplies-Groceries
98,03/17/2023,UNION 76 10194413,CT,13.70,Transportation-Fuel

In [40]:
df.to_csv('formatted_activity.csv', index=False)